.menu {
    background-image: url('../img/menu/menu-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.section__title_menu {
    display: inline-block;
    padding-left: rem(90px);
    padding-top: rem(110px);
    color: #fff;
    transition: .8s;
    @include large {
        padding-left: rem(20px);
    }
}

.menu__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    transition: .7s;
    @include large {
        left: 30%;
    }
    @include tablets {
        left: 0;
    }
}

.menu__item {
    overflow: hidden;
    position: relative;
    display: flex;
    transition: .7s;
    background-color: rgba(#2f3234, .93);
    @include phones {
        background-color: transparent;
    }
}

.menu__item_active {
    flex-grow: 1;
    .menu__trigger {
        color: #fff; 
        text-shadow: 0 0 .5px #fff,
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #FFDD1B,
        0 0 4px #FFDD1B,
        0 0 5px #FFDD1B,
        0 0 6px #FFDD1B,
        0 0 9px #FFDD1B;
        //   box-shadow: inset rgba(255, 255, 255, 0.3) 2px -2px 2px 1px, inset rgba(0, 0, 0, 0.8) -2px 2px 2px 1px; 
    }
    .menu__description-wrap {
        left: rem(80px);
        right: 0;
        top: 0;
        bottom: 0;
        @include phones {
            transition: transform .7s;
            transform: translateX(0);
        }
    }
    .menu__description {
        transition-delay: .7s;
        opacity: 1;
    }
    @include phones {
        z-index: 10;
        flex-grow: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.menu__title {
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: rem(80px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; 
    z-index: 1;
    &:before {
        content: '';
        box-shadow: inset rgba(255, 255, 255, 0.3) 2px 2px 4px 2px, inset rgba(0, 0, 0, 0.8) -2px -2px 4px 2px;
        background-color: rgba(#141414, .7);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    &:after {
        z-index: 3;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    &:hover {
        .menu__trigger {
            -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
            -moz-animation: neon3 1.5s ease-in-out infinite alternate;
            animation: neon3 1.5s ease-in-out infinite alternate; 
            color: #fff;
            // animation: blur .75s ease-out infinite;
            // text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
        } 
    }
}

.menu__trigger {
    padding: 0 rem(20px);  
    transition: all .7s;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-family: "gagalin";
    font-size: rem(40px);
    color: $yellow;
    position: relative;
    z-index: 2;
    // text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15); // text-shadow: 4px 4px 4px black, -4px 4px 4px black;
}


.menu__description-wrap {
    // z-index: 2;      
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    @include phones {
        background-color: rgba(#2f3234, .93);
        transform: translateX(-100%);
    }
}

.menu__description {
    padding: rem(60px) rem(40px);
    width: 100%;
    font-size: rem(14px);
    font-weight: 300;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

// @keyframes blur {
//     from {
//         text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
//     }
// }
// @keyframes neon1 {
//     from {
//       text-shadow: 0 0 10px #fff,
//                  0 0 20px  #fff,
//                  0 0 30px  #fff,
//                  0 0 40px  #FF1177,
//                  0 0 70px  #FF1177,
//                  0 0 80px  #FF1177,
//                  0 0 100px #FF1177,
//                  0 0 150px #FF1177;
//     }
//     to {
//       text-shadow: 0 0 5px #fff,
//                  0 0 10px #fff,
//                  0 0 15px #fff,
//                  0 0 20px #FF1177,
//                  0 0 35px #FF1177,
//                  0 0 40px #FF1177,
//                  0 0 50px #FF1177,
//                  0 0 75px #FF1177;
//     }
//   }
  
//   @keyframes neon2 {
//     from {
//       text-shadow: 0 0 10px #fff,
//                  0 0 20px  #fff,
//                  0 0 30px  #fff,
//                  0 0 40px  #228DFF,
//                  0 0 70px  #228DFF,
//                  0 0 80px  #228DFF,
//                  0 0 100px #228DFF,
//                  0 0 150px #228DFF;
//     }
//     to {
//       text-shadow: 0 0 5px #fff,
//                  0 0 10px #fff,
//                  0 0 15px #fff,
//                  0 0 20px #228DFF,
//                  0 0 35px #228DFF,
//                  0 0 40px #228DFF,
//                  0 0 50px #228DFF,
//                  0 0 75px #228DFF;
//     }
//   }
  
  @keyframes neon3 {
    from {
        text-shadow: 0 0 1px #fff,
                   0 0 2px #fff,
                   0 0 4px #fff,
                   0 0 5px #FFDD1B,
                   0 0 8px #FFDD1B,
                   0 0 10px #FFDD1B,
                   0 0 24px #FFDD1B,
                   0 0 72px #FFDD1B;
      }
    to {
      text-shadow: 0 0 .5px #fff,
                 0 0 1px #fff,
                 0 0 2px #fff,
                 0 0 3px #FFDD1B,
                 0 0 4px #FFDD1B,
                 0 0 5px #FFDD1B,
                 0 0 6px #FFDD1B,
                 0 0 9px #FFDD1B;
    }
  }
  
