
// @keyframes neon1 {
//     from {
//       text-shadow: 0 0 10px #fff,
//                  0 0 20px  #fff,
//                  0 0 30px  #fff,
//                  0 0 40px  #FF1177,
//                  0 0 70px  #FF1177,
//                  0 0 80px  #FF1177,
//                  0 0 100px #FF1177,
//                  0 0 150px #FF1177;
//     }
//     to {
//       text-shadow: 0 0 5px #fff,
//                  0 0 10px #fff,
//                  0 0 15px #fff,
//                  0 0 20px #FF1177,
//                  0 0 35px #FF1177,
//                  0 0 40px #FF1177,
//                  0 0 50px #FF1177,
//                  0 0 75px #FF1177;
//     }
//   }
  
//   @keyframes neon2 {
//     from {
//       text-shadow: 0 0 10px #fff,
//                  0 0 20px  #fff,
//                  0 0 30px  #fff,
//                  0 0 40px  #228DFF,
//                  0 0 70px  #228DFF,
//                  0 0 80px  #228DFF,
//                  0 0 100px #228DFF,
//                  0 0 150px #228DFF;
//     }
//     to {
//       text-shadow: 0 0 5px #fff,
//                  0 0 10px #fff,
//                  0 0 15px #fff,
//                  0 0 20px #228DFF,
//                  0 0 35px #228DFF,
//                  0 0 40px #228DFF,
//                  0 0 50px #228DFF,
//                  0 0 75px #228DFF;
//     }
//   }
  
@keyframes neon3 {
    from {
        text-shadow: 0 0 1px #fff,
                //    0 0 2px #fff,
                //    0 0 4px #fff,
                   0 0 5px #FFDD1B,
                   0 0 8px #FFDD1B,
                   0 0 10px #FFDD1B,
                   0 0 24px #FFDD1B,
                   0 0 72px #FFDD1B;
      }
    to {
      text-shadow: 0 0 .5px #fff,
                //  0 0 1px #fff,
                //  0 0 2px #fff,
                 0 0 3px #FFDD1B,
                 0 0 4px #FFDD1B,
                 0 0 5px #FFDD1B,
                 0 0 6px #FFDD1B,
                 0 0 9px #FFDD1B;
    }
  }
  @keyframes neon4 {
    from {
        text-shadow: //0 0 1px #fff,
                //    0 0 2px #fff,
                //    0 0 4px #fff,
                   0 0 5px #FFDD1B,
                   0 0 8px #FFDD1B,
                   0 0 10px #FFDD1B,
                   0 0 24px #FFDD1B,
                   0 0 72px #FFDD1B;
      }
    to {
      text-shadow: // 0 0 .5px #fff,
                //  0 0 1px #fff,
                //  0 0 2px #fff,
                 0 0 3px #FFDD1B,
                 0 0 4px #FFDD1B,
                 0 0 5px #FFDD1B,
                 0 0 6px #FFDD1B,
                 0 0 9px #FFDD1B;
    }
  }
  @keyframes neonbox {
    from {
        box-shadow: //0 0 1px #fff,
                //    0 0 2px #fff,
                //    0 0 4px #fff,
                   0 0 5px #FFDD1B,
                   0 0 8px #FFDD1B,
                   0 0 10px #FFDD1B,
                   0 0 24px #FFDD1B,
                   0 0 72px #FFDD1B;
      }
    to {
      box-shadow: // 0 0 .5px #fff,
                //  0 0 1px #fff,
                //  0 0 2px #fff,
                 0 0 3px #FFDD1B,
                 0 0 4px #FFDD1B,
                 0 0 5px #FFDD1B,
                 0 0 6px #FFDD1B,
                 0 0 9px #FFDD1B;
    }
  }
  