.team {
  background-image: url("../img/tem/team-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: center; }
